* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  padding: 1rem;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
}

header .input-field {
  width: 90%;
  max-width: 750px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 375px) {
  header .input-field {
    width: 90%;
  }
}

@media (min-width: 769px) {
  header .input-field {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

header .input-field .input-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .input-field .input-wrapper .title {
  padding: 0.5rem;
  width: 100%;
}

header .input-field .input-wrapper #note-text {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  resize: none;
}

header .input-field .btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0.5rem;
}

@media (min-width: 769px) {
  header .input-field .btn-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
}

header .input-field .btn-wrapper div {
  padding: 0.5rem;
  width: 7rem;
  text-align: center;
  border-radius: 2rem;
  margin: 0.5rem;
}

header .input-field .btn-wrapper .note-btn {
  border: 1px solid green;
  cursor: pointer;
}

header .input-field .btn-wrapper .note-btn:hover {
  background-color: green;
  font-weight: bold;
  color: white;
}

header .input-field .btn-wrapper .cancel-btn {
  border: 1px solid crimson;
  cursor: pointer;
}

header .input-field .btn-wrapper .cancel-btn:hover {
  background-color: crimson;
  font-weight: bold;
  color: white;
}

main {
  width: 100vw;
}

main .card-container {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .card-container .card {
  max-width: 370px;
  height: 370px;
  margin: 1rem;
  border: 1px solid black;
  padding: 1rem;
  position: relative;
}

@media (max-width: 375px) {
  main .card-container .card {
    width: 90%;
  }
}

main .card-container .card .card-title-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
}

main .card-container .card .card-title-row .fa-trash-alt {
  color: black;
  -webkit-transition: 300ms;
  transition: 300ms;
  cursor: pointer;
}

main .card-container .card .card-title-row .fa-trash-alt:hover {
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

main .card-container .card .card-body {
  margin-top: 1rem;
  padding-top: 1rem;
  height: 90%;
  font-size: 1.25rem;
  overflow-y: scroll;
  position: relative;
}

main .card-container .card .card-body::-webkit-scrollbar {
  display: none;
}
/*# sourceMappingURL=styles.css.map */